############################
# Build output
############################

bin/
obj/

############################
# Executables & debug
############################

*.exe
*.dll
*.pdb
*.mdb

############################
# Visual Studio / tooling
############################

.vs/
*.user
*.suo
*.cache
