############################
# Editors / temp files
############################

*~
\#*\#
.\#*
*.swp
*.swo
*.tmp
*.bak
*.orig

.vscode/
.idea/

############################
# OS junk
############################

.DS_Store
Thumbs.db
Desktop.ini
