window {
    background-color: #2e3436;
}

label {
    color: #eeeeec;
}

button {
    background-color: #3c4043;
    color: #eeeeec;
    border: 1px solid #5f6368;
}

button:hover {
    background-color: #4c5053;
}